header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
}

.Logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;

}

.favoritos{
    text-decoration: none;
    padding: 5px 14px;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 4px;
}