@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*definir fundo escuro e resetar estilos padroes*/
html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 15, 15); /* keep dark background to avoid white lines */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}